*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    background:#f5f7fa;
}

header{
    background:#2563eb;
    color:white;
    padding:20px;
    text-align:center;
}

main{
    max-width:1000px;
    margin:auto;
    padding:20px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:10px;
}

button{
    padding:10px 16px;
    cursor:pointer;
}

.folder{
    background:white;
    margin-top:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.folder-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.word-card{
    background:#eef4ff;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
}

.word{
    font-size:20px;
    font-weight:bold;
}

.phonetic{
    color:#666;
}

.audio-buttons{
    margin-top:10px;
}

.audio-buttons button{
    margin-right:10px;
}
